.image-viewer-container {
    position: relative;
  }
  
  .navigation-buttons {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .navigation-buttons button {
    background-color: #00ADB5;
    color: #fff;
    padding: 9px;
    margin-right: 1px;
    padding-right: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .navigation-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .navigation-buttons label {
    color: #333;
    margin-right: 10px;
  }
  
  .navigation-buttons select {
    padding: 8px;
    border-radius: 6px;
  }
  
  .navigation-buttons button:nth-child(1) {
    margin-right: auto;
  }
  
  .navigation-buttons select {
    margin-left: auto;
  }
  
  .image-container {
    height: 100vh;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  